
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 2px 2px 5px gray;
}
.logo{
    width: 60px;
    height: 60px;
    mix-blend-mode: darken;
    border-radius: 50%;
}
#searchInput{
    width: 400px;
    height: 35px;
    border-radius: 10px;
    padding-inline: 10px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: 1px solid gray;
}
.header-list{
    display: flex;
    gap:35px;
    margin-right: 20px;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}
.header-list a{
    color: black;
}
.header-list a:hover{
    color: blue;
}
.menu-btn{
    display: none;
}
.menu{
    display: none;
}
main{
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
}
nav{
    height: 92%;
    margin-top: 5px;
    box-shadow: 0px 10px 15px gray;
    border-top-right-radius: 20px;
    background-color: rgb(216, 222, 229);
}
section{
    height: 90%;
    padding: 10px;
    margin-top: 5px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}
.card{
    padding: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 3px 3px 5px gray;
    border-radius: 15px;
    background-color: rgb(243, 236, 236);
    transition: transform 0.5s linear;
}
.card:hover{
    transform: scale(1.05);
    background-color: rgb(246, 225, 225);
}
.card-image{
    width: 100%;
    height: 220px;
    mix-blend-mode: darken;
}
.card-title{
    font-size: 19px;
    margin-top: 5px;
    width: 100%;
    height: 45px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.price-rating-div{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 14px;
}
.rating{
    margin-right: 20px;
}
.buy-btn{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: rgb(248, 185, 66);
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    margin-top: 15px;
}
.buy-btn:hover{
    background-color: rgb(255, 168, 7);
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding-left:10px;
    padding-top: 10px;
}

nav select{
    height: 30px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    padding-left:5px;
}
nav h2{
    margin-top: 10px;
}
#filterButton{
    display: none;
}
.filter-div{
    margin-top: 20px;
}
.filter-div h3{
    margin-bottom: 5px;
}
.message{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .header-list{
        display: none;
    }
    .menu-btn{
        display: block;
        font-size: 40px;
        border: none;
        background-color: transparent;
    }
    .menu-btn.visible{
        display: block;
    }
    .menu{
        display: none;
    }
    .menu.show{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        position: absolute;
        top: 2px;
        right: 0;
        background-color: white;
        box-shadow: 2px 5px 10px gray;
        width: 100%;
        height: 400px;
        z-index: 1;
    } 
    .cancel{
        font-size: 40px;
        margin-top: 20px;
    }
    .menu a{
        font-size: 22px;
        color: black;
        font-weight: 600;
        text-decoration: none;
    }
    .menu a:hover{
        color: blue;
    }
    #searchInput{
        width: 200px;
    }
    main{
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
    }
    nav{
        height: fit-content;
    }
    nav h2{
        display: none;
    }
    #filterButton{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 24px;
        font-weight: 600;
    }
    .navbar{
        display: none;
        padding-bottom: 10px;
    }
    .navbar.visible {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
    section{
        grid-template-columns: 1fr;
        padding-inline: 10px;
        height: 80%;
    }
    .message{
        left:100px;
    }

}

